:root{
  --mainColor_light:#ed6b4eff;
  --mainColor_dark: #282c34;
}
.App {
  text-align: center;
}
.dark{
  background-color: var(--mainColor_dark);
}

li{
  list-style: none;
}

.App-link {
  color: #61dafb;
}


