.sendMessage_wrapper{
    background-color: tan;
}

form{
    display: flex;
}

.sendMessage{
    width:100%;
    padding:.5rem;
}

button{
    padding:.5rem;
}
.sendMessage_wrapper>div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.avatar_sendMessage{
    width:3.5rem;
    padding:.5rem;
}