*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-size:16px;
}

:root{
  --mainColor-dark: #282c34;
  --mainColor-light:#bf4e34ff;
  --white:whitesmoke;
}

h1{
  font-size: 2rem;
}

.darkMode{
  background-color: var(--mainColor-dark);
  color:var(--white)
}
.lightMode{
  background-color: var(--white);
}


